{% extends 'base.html' %}

{% block title %} Spoingus' Emporium {% endblock %}


{% block content %}

{% if empty %}
<div style="margin-left: 25%;">
    <h1>Your Shopping Basket is Empty</h1>
    <img src="/media/sad.png" style="width: 50%;margin-left: 5%;">
</div>
{% else %}
    <table>
        <tbody>
            {% for item in sbi %}
                <tr>
                    <td><img src="{{item.product_id.image.url}}" width="108" height="192"></td>
                    <td>{{item.product_id.name}} -- {{item.product_id.description}}</td>
                    <td><u>Quantity</u> : {{item.quantity}}</td>
                    <td><u>Price</u> : {{item.price}}</td>
                    <td><a href="/removeitem/{{item.id}}" class="btn btn-primary">Remove</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>   
    <br>
    <a href="/order" class="btn btn-primary" style="margin-left: 2%;margin-bottom:2%;"> Order </a>
    <br> 
{% endif %}
{% endblock %}