{% extends 'base.html' %}

{% block title %} Order Complete {% endblock %}


{% block content %}
{% if empty %}
    <h1>Your Shopping Basket is Empty</h1>
    <img src="/media/sad.png">
{% else %}
    <table>
        <tbody>
            {% for item in sbi %}
                <tr>
                    <td><img src="{{item.product_id.image.url}}" width="108" height="192"></td>
                    <td>{{item.product_id.name}} -- {{item.product_id.description}}</td>
                    <td><u>Quantity</u> : {{item.quantity}}</td>
                    <td><u>Price</u> : {{item.price}}</td>
                    <td><a href="/removeitem/{{item.id}}" class="btn btn-primary">Remove</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>    
{% endif %}
<br>
<img src="/media/thankbee.gif" style="float:right;margin-right: 15%;width: 20%;">
<div style="margin-left: 2%;margin-bottom:2%;margin-right: 50%; background-color:yellow;padding: 10px;">
    <h1 style="float: left;"> Thank you from Spoingus!!!</h1><br><br><br>
    <p>Ship to: {{order.shipping_addr }}</p>
    <p>Price: {{order.total_price}}</p>
</div>
<br><br><br><br><br><br><br><br>
<h1 style="color: transparent;" >congrats u found easter egg, now ignore it</h1>
{% endblock %}