{% extends 'base.html' %}

{% block title %}Order history{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Ordered on</th> 
            <th>Shipping to</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
        {% for ord in orders %}
            <tr>
                <td>{{ ord.id }}</td>
                <td> {{ ord.datetime_ordered }}</td>
                <td> {{ ord.shipping_addr  }}</td>
                <td> {{ord.total_price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br><br>
<h1 style="color: transparent;" >congrats u found easter egg, now ignore it</h1>
{% endblock %}