{% extends 'base.html' %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
    <div style="margin-left:25%;">
    <h1>Name: {{product.name}} - €{{product.price}}</h1>
    <p>
        {{product.description}}
        <a href="addbasket/{{product.id}}" class="btn btn-primary">Buy €{{product.price}}</a>
    </p>
    {% if added %}
    <h2><mark> Added to Basket. </mark></h2>
    {% endif %}
    <br>
    </div>
    <img src='{{product.image.url}}'style="float:right; width:50%; margin-right:25%;"/>
    
{% endblock %}