{% extends 'base.html' %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
    <div style="float:left;width: 40%;margin-left: 10%;">
    <br><br>
    <h1>Name: {{product.name}} - €{{product.price}}</h1>
    <p>
        {{product.description}}<br><br>
        <a href="/addbasket/{{product.id}}" class="btn btn-primary">Add to Basket</a>
    </p>
    {% if added %}
    <h2>Added to Basket.</h2>
    {% endif %}
    <br>
    </div>
    <div style="float:right;width: 50%;">
        <br><br>
        <img src='{{product.image.url}}'style="width:30%;margin-left:25%;"/>
        <br><br><br><br><br>
    </div>    
{% endblock %}