<%- include('header') -%>
    <h2><span style="text-decoration:underline;">Your Basket</span>
    <a id="orderButton" style="margin-left: 2%;margin-bottom:2%; float:right; visibility: hidden;" class="paper-btn btn-large btn-primary" href="/order"> Order </a>
    </h2>
    <h3 id="Notification"></h3>
    <div id="the-box">

    </div>

    <script>
        function displayProduct(name, quantity, price, productID, image_url){
            //let box = document.getElementById("the-box")
            //box.innerHTML += "<h2>HELLO BINGUS</h2>"
            let card_outer = document.createElement("div")
            card_outer.classList.add("card")
            card_outer.style.width = "20rem"
            card_outer.style.display = "inline-block"
            card_outer.style.margin = "10px"
            let card = document.createElement("div")
            card.classList.add("card-body")

            let n = document.createElement("h4");
            let q = document.createElement("p");
            let p = document.createElement("p");
            let prodImg = document.createElement("img");

            prodImg.src = image_url;

            n.innerHTML = name;
            q.innerHTML = "Quantity: " + quantity;
            p.innerHTML = "Price: " + price;

            let removeFromCart = document.createElement("button"); // create a button
            removeFromCart.innerHTML = "Remove"; // set the text of the button 
            removeFromCart.id = "cart_button";
            removeFromCart.onclick = ()=>{
            // code for when the button is clicked
                fetch('http://127.0.0.1:8000/apiremove/', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem("access")
                    },
                    body: JSON.stringify({
                        "product_id": parseInt(productID)
                    })
                })
                .then(response=>response.json())
                .then(data=>{
                        window.location.reload()
                    });
                }
            
            let the_box = document.getElementById("the-box")
            the_box.appendChild(card_outer)
            card_outer.appendChild(card)
            card_outer.appendChild(prodImg)
            card.appendChild(n)
            card.appendChild(q)
            card.appendChild(p)
            card.appendChild(removeFromCart)

        }
        function buildPage()
        {
            let token = localStorage.getItem("access");
            if(token == null){
                window.location = "/login";
            }
            fetch('http://127.0.0.1:8000/api/basket/', {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then(resp => resp.json())
                .then(data => {
                    let basket = data[0];
                    let basket_id = basket["id"];
                    let items = basket["items"];

                    if(items.length == 0)
                    {
                        let Notification = document.getElementById("Notification")
                        Notification.innerHTML = "Your Basket is Empty :("
                    }
                    else{
                        let button = document.getElementById("orderButton")
                        button.style.visibility = "visible"

                        items.forEach(element => {
                            let id = element['product_id']
                            let quantity = element['quantity']
                            let price = element['price']
                            
                            fetch('http://127.0.0.1:8000/api/products/' + id)
                            .then(resp => resp.json())
                            .then(data => {
                                console.log(data);
                                if('detail' in data){
                                    // display some generic product not found error
                                    alert("Product Not Found");
                                }
                                else{
                                    let name = data['name'];
                                    let image_url = data['image'];
                                    let desc = data['description'];
                                    // display the product data  
                                    displayProduct(name, quantity, price, id, image_url);   
                                    
                                }
                            })
                        });
                    }
                })   
        } 
        window.onload = function(){
            isLoggedIn(); // when the page loads call isLoggedIn
            buildPage();
        }
    </script>
<%- include('footer') -%>