	<!-- footer code -->
    </div>
    <script>
        function isLoggedIn(){
            window.userLoggedIn = false;

            let accessToken = localStorage.getItem("access");        

            if(accessToken != null && typeof(accessToken)!='undefined'){
                // if there is an access token in localstorage
                window.userLoggedIn = true;
            }

            if(window.userLoggedIn == true){
                let loginLink = document.getElementById("auth-link");
                loginLink.innerHTML = "Logout";
                loginLink.href = "/logout";
            }   
            else if(window.userLoggedIn == false){
                let loginLink = document.getElementById("auth-link");
                loginLink.innerHTML = "Login";
                loginLink.href = "/login";
            } 
        }
        function logOut(){
            localStorage.removeItem("access", null);
            localStorage.removeItem("refresh", null);
            window.location.href = "/";
        }
    </script>
    </body>
</html>