<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='stylesheets/paper.css' />
        <link rel='stylesheet' href='stylesheets/style.css' />

        <title> Spoingus' Paper Emporium</title>
        <a id="auth-link" href='/login' style="float: right;">Login</a>
    </head>
    <body>
        <div class="paper container">
		<!-- code to show the navbar goes here -->