<%- include('header') -%>
        <p>Welcome to <%= title %></p>
        <h3>Products:</h3>
        <ul id="product-list">

        </ul>
        <script>
            fetch("http://127.0.0.1:8000/api/products")
            .then(resp => resp.json())
            .then(data => {
                data.forEach(element => {
                    // create a li element for each 
                    console.log(element);
                    let tmpLi = document.createElement("li");
                    let link = document.createElement("a");
                    link.innerHTML = element['name']; // <a>Bread</a>
                    // /products?id=x
                    let productStr = "/productindividual?id=" + element['id'];
                    tmpLi.appendChild(link);
                    console.log(productStr);
                    link.href = productStr;
                    document.getElementById("product-list").appendChild(tmpLi)
                });
            })
        
        window.onload = function(){
            isLoggedIn(); // when the page loads call isLoggedIn
        }
        </script>
<%- include('footer') -%>
